body{
    margin-top: 30px;
 }



 /*shopping cart*/
 .card{
     height: 250px;
 }
p{
         font-family: 'Open Sans';
         font-weight: 600;
         color: #202020;
     }


     /*Card Deck*/

     .card{
         height: 500px;
         width: 250px;
     }